In [26]:
%pylab inline
import numpy as np 
import pandas as pd

Populating the interactive namespace from numpy and matplotlib

In [27]:
from mlxtend.preprocessing import TransactionEncoder
from mlxtend.frequent_patterns import apriori, fpgrowth, fpmax, association_rules

In [54]:
data_path = './data/ratings.csv'
ratings = pd.read_csv(data_path)

In [55]:
len(ratings)

100836

In [69]:
#r1 = ratings.sample(50000)
r1 = ratings.sample(50000)

In [70]:
r1.head()

       userId  movieId  rating   timestamp
16966     106    97938     4.5  1467567463
7715       51     5377     5.0  1230931924
78577     489      804     2.0  1333831977
80779     509    93988     4.5  1435993045
24219     167    40815     4.5  1154721607

In [71]:
rows = r1['rating'] > 3.0

In [72]:
r2 = r1[rows]

In [73]:
r2.head()

       userId  movieId  rating   timestamp
16966     106    97938     4.5  1467567463
7715       51     5377     5.0  1230931924
80779     509    93988     4.5  1435993045
24219     167    40815     4.5  1154721607
11767      72      150     4.0  1217324795

In [74]:
num_transactions = max(set(r2['userId']))
print(num_transactions)

610

In [75]:
transactions = []
for i in range(num_transactions):
    transactions.append([])

In [76]:
for index, row in r2.iterrows():
    user = int(row['userId'])
    movie = int(row['movieId'])
    transactions[user - 1].append(movie)

In [77]:
te = TransactionEncoder()

In [78]:
te_ary = te.fit(transactions).transform(transactions)

In [79]:
df = pd.DataFrame(te_ary, columns=te.columns_)

In [80]:
df.head()

,1,2,3,5,6,7,8,9,10,11,...,188751,188833,189333,190209,193565,193571,193581,193583,193585,193609
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,True,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [81]:
frequent_itemsets = fpgrowth(df, min_support=0.022, use_colnames=True)

In [82]:
frequent_itemsets

       support      itemsets
0     0.190164         (593)
1     0.190164        (2571)
2     0.175410        (2959)
3     0.162295         (110)
4     0.140984        (1198)
...        ...           ...
2838  0.029508   (296, 1246)
2839  0.024590   (260, 1246)
2840  0.024590   (1246, 318)
2841  0.022951  (2571, 1246)
2842  0.022951  (1246, 2959)

[2843 rows x 2 columns]

In [83]:
rules = association_rules(frequent_itemsets, metric="lift", min_threshold=1.4)

In [85]:
rules

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(296),(593),0.213115,0.190164,0.062295,0.292308,1.537135,0.021768,1.144334
1,(593),(296),0.190164,0.213115,0.062295,0.327586,1.537135,0.021768,1.170240
2,"(296, 593)",(318),0.062295,0.245902,0.022951,0.368421,1.498246,0.007632,1.193989
3,"(296, 318)",(593),0.083607,0.190164,0.022951,0.274510,1.443543,0.007052,1.116261
4,"(593, 318)",(296),0.050820,0.213115,0.022951,0.451613,2.119107,0.012120,1.434908
...,...,...,...,...,...,...,...,...,...
5167,(318),(1246),0.245902,0.067213,0.024590,0.100000,1.487805,0.008062,1.036430
5168,(2571),(1246),0.190164,0.067213,0.022951,0.120690,1.795627,0.010169,1.060816
5169,(1246),(2571),0.067213,0.190164,0.022951,0.341463,1.795627,0.010169,1.229751
5170,(1246),(2959),0.067213,0.175410,0.022951,0.341463,1.946661,0.011161,1.252155
5171,(2959),(1246),0.175410,0.067213,0.022951,0.130841,1.946661,0.011161,1.073206

In [93]:
num_transactions = max(set(r1['userId']))
transactions = []
for i in range(num_transactions):
    transactions.append([])

In [94]:
for index, row in r1.iterrows():
    user = int(row['userId'])
    movie = str(row['movieId'])
    rating = row['rating']
    if rating > 3.0:
        transactions[user - 1].append('liked ' + movie)
    elif rating < 3.0:
        transactions[user - 1].append('hated ' + movie)
    else:
        transactions[user - 1].append('neutral towards ' + movie)

In [95]:
transactions[4]

['neutral towards 153.0',
 'liked 110.0',
 'liked 367.0',
 'hated 380.0',
 'liked 474.0',
 'neutral towards 515.0',
 'liked 58.0',
 'liked 21.0',
 'neutral towards 253.0',
 'liked 1.0',
 'liked 588.0',
 'liked 290.0',
 'neutral towards 364.0',
 'neutral towards 39.0',
 'liked 34.0',
 'neutral towards 150.0',
 'neutral towards 318.0',
 'liked 232.0',
 'neutral towards 410.0']

In [96]:
te = TransactionEncoder()
te_ary = te.fit(transactions).transform(transactions)
df = pd.DataFrame(te_ary, columns=te.columns_)

In [97]:
df.head()

,hated 1.0,hated 10.0,hated 100.0,hated 100390.0,hated 100498.0,hated 1005.0,hated 1007.0,hated 100714.0,hated 101.0,hated 1010.0,...,neutral towards 99114.0,neutral towards 99117.0,neutral towards 99145.0,neutral towards 99149.0,neutral towards 994.0,neutral towards 996.0,neutral towards 99638.0,neutral towards 99813.0,neutral towards 99846.0,neutral towards 999.0
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [98]:
frequent_itemsets = fpgrowth(df, min_support=0.022, use_colnames=True)

In [99]:
rules = association_rules(frequent_itemsets, metric="lift", min_threshold=1.4)

In [104]:
rules = rules.sort_values(by='lift', ascending=False)

In [105]:
rules

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
4145,(liked 112852.0),(liked 89745.0),0.045902,0.050820,0.022951,0.500000,9.838710,0.020618,1.898361
4144,(liked 89745.0),(liked 112852.0),0.050820,0.045902,0.022951,0.451613,9.838710,0.020618,1.739826
5158,(liked 4896.0),(liked 40815.0),0.060656,0.042623,0.024590,0.405405,9.511435,0.022005,1.610134
5159,(liked 40815.0),(liked 4896.0),0.042623,0.060656,0.024590,0.576923,9.511435,0.022005,2.220268
2447,(liked 5349.0),(liked 8636.0),0.059016,0.052459,0.026230,0.444444,8.472222,0.023134,1.705574
...,...,...,...,...,...,...,...,...,...
1848,(liked 318.0),(liked 595.0),0.245902,0.085246,0.029508,0.120000,1.407692,0.008546,1.039493
788,(liked 318.0),(liked 1222.0),0.245902,0.090164,0.031148,0.126667,1.404848,0.008976,1.041797
789,(liked 1222.0),(liked 318.0),0.090164,0.245902,0.031148,0.345455,1.404848,0.008976,1.152095
8,(liked 2571.0),(liked 318.0),0.190164,0.245902,0.065574,0.344828,1.402299,0.018812,1.150992
9,(liked 318.0),(liked 2571.0),0.245902,0.190164,0.065574,0.266667,1.402299,0.018812,1.104322

In [106]:
rules['consequents']

4145     (liked 89745.0)
4144    (liked 112852.0)
5158     (liked 40815.0)
5159      (liked 4896.0)
2447      (liked 8636.0)
              ...
1848       (liked 595.0)
788       (liked 1222.0)
789        (liked 318.0)
8          (liked 318.0)
9         (liked 2571.0)
Name: consequents, Length: 5182, dtype: object